#bgcolor {
    background-color: brown;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(63, 60, 43);
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(63, 60, 43);
}

div {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(63, 60, 43);
}

#menuBG {
    width: 610px;
    height: 650px;
    margin: 10px auto;
    background-color: aqua;
}

#frmMenui {
    width: 610px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

.centre {
    width: 200px;
    height: 200px;
    float: left;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}